@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: underline;
}

body {
    background-color: #00701e;
}

.logo {
    margin-top: -15%;
    margin-bottom: -15%;
    width: 128px;
    height: width;
}