
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="index,follow">
    <meta charset="utf-8">
    <link rel="icon" href="https://github.com/Svxy/imgs/blob/main/icon.png?raw=true">
    <link rel="icon" sizes="192x192" href="https://github.com/Svxy/imgs/blob/main/icon.png?raw=true">
    <link rel="apple-touch-icon" href="https://github.com/Svxy/imgs/blob/main/icon.png?raw=true">
    <meta name="pinterest" content="nopin" description="Sorry, you can't save from our website!">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta name="description" content="S&A | TnyavnTo Scripts">
    <title>TnyavnTo - Scripts</title>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-1SPN0CLZLB');
    </script>
